html{
    font-family: sans-serif;
}
* { padding: 0; margin: 0; }


#header {
    width: 100%;
    float:left;
    background-color: #E6E6E6;
    border-bottom: 1px solid #ccc;
}
    #logo{
        float:left;
        width: 25%;

    }
        #logo img{
            width: 100%;
        }
    #headerTitle{
        padding: 20px;
        float:left;
        width: calc(70% - 40px);
    }

        #headerTitle h5{

        }

#allMemoryModels,
#memoryModelVersions {
    width: calc(15% - 1px);
    background-color: #E6E6E6;
    min-width: 300px;
    height: calc(100vh - 119px);
}

#allMemoryModels {
    border-right: 1px solid #ccc;
    float:left;
}
    #memoryModelsList{

    }
        #memoryModelsList .list-group-item{
            border:none;
            padding: 1px 5px;
            text-align: left;
        }
            #memoryModelsList .list-group-item a {
                text-decoration: none;
                color: #000;
            }

#undoButton{
    display: none;
    margin: 5px;
}

#memoryModelVersions {
    border-left: 1px solid #ccc;
    float:right;
}
    #memoryModelVersions button{
        border:none;
        padding: 2px 10px;
        background-color: #3E79FF;
        border-radius: 1px;
        cursor: pointer;
    }

    #memoryModelVersionList{
        list-style: none;
    }
        #memoryModelVersionList a {
            text-decoration: none;
            color: #000;
        }

#diagramContainer{
    float: left;
    height: calc(100vh - 119px);
    max-width: calc(100% - 602px);
}

.clr{
    clear:both;
}