.body{
    background-color: #0099CC;
}

.loginForm h1{
    margin-left: 11px;
}

.registerForm h1{
    margin-left: 11px;
}

.registerForm form{
    width:298px;
}

.loginForm form{
    width:298px;
}

.center{
    margin-left: auto !important;
    margin-right: auto !important;
}

.loginForm{
    width: 400px;
}

.registerForm{
    width: 400px;
}

.form-group{
    width:300px;
}

.error{
    margin-top:10px;
    display: block;
    width: 300px;
}

